## Deliverable 2. Create a Customer Travel Destinations Map.

In [16]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [17]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_Database_correct.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain inches (last 3 hrs),Snow inches (last 3 hrs)
0,0,kalmunai,LK,2019-12-31 06:04:05,7.42,81.82,81.27,77,86,9.22,overcast clouds,0.00,0.0
1,1,san jeronimo,PE,2019-12-31 06:04:06,-13.65,-73.37,50.00,96,100,1.97,light rain,0.31,0.0
2,2,bambous virieux,MU,2019-12-31 06:04:06,-20.34,57.76,81.00,88,75,12.75,shower rain,0.00,0.0
3,3,atuona,PF,2019-12-31 06:04:06,-9.80,-139.03,80.35,75,1,14.94,clear sky,0.00,0.0
4,4,hobart,AU,2019-12-31 06:04:06,-42.88,147.33,69.80,22,40,19.46,scattered clouds,0.00,0.0

In [18]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [19]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain inches (last 3 hrs),Snow inches (last 3 hrs)
0,0,kalmunai,LK,2019-12-31 06:04:05,7.42,81.82,81.27,77,86,9.22,overcast clouds,0.00,0.0
2,2,bambous virieux,MU,2019-12-31 06:04:06,-20.34,57.76,81.00,88,75,12.75,shower rain,0.00,0.0
3,3,atuona,PF,2019-12-31 06:04:06,-9.80,-139.03,80.35,75,1,14.94,clear sky,0.00,0.0
5,5,vaini,IN,2019-12-31 06:04:07,15.34,74.49,75.20,44,40,2.66,scattered clouds,0.00,0.0
6,6,victoria,BN,2019-12-31 06:00:18,5.28,115.24,86.00,70,75,11.41,broken clouds,0.00,0.0
12,12,busselton,AU,2019-12-31 06:04:09,-33.64,115.35,84.00,20,0,16.98,clear sky,0.00,0.0
13,13,palu,ID,2019-12-31 06:04:09,-0.90,119.87,77.18,88,27,4.07,moderate rain,4.31,0.0
15,15,arraial do cabo,BR,2019-12-31 06:04:09,-22.97,-42.02,75.07,88,0,14.61,clear sky,0.00,0.0
17,17,phuket,TH,2019-12-31 06:04:10,7.89,98.40,89.60,52,20,11.41,few clouds,0.00,0.0
18,18,barcelos,BR,2019-12-31 06:04:10,-0.97,-62.93,73.40,98,100,2.30,overcast clouds,0.00,0.0

In [20]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                     184
City                        184
Country                     184
Date                        184
Lat                         184
Lng                         184
Max Temp                    184
Humidity                    184
Cloudiness                  184
Wind Speed                  184
Current Description         184
Rain inches (last 3 hrs)    184
Snow inches (last 3 hrs)    184
dtype: int64

In [21]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df = preferred_cities_df.dropna() 
preferred_cities_df.count()

City_ID                     184
City                        184
Country                     184
Date                        184
Lat                         184
Lng                         184
Max Temp                    184
Humidity                    184
Cloudiness                  184
Wind Speed                  184
Current Description         184
Rain inches (last 3 hrs)    184
Snow inches (last 3 hrs)    184
dtype: int64

In [22]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = city_data_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,kalmunai,LK,81.27,overcast clouds,7.42,81.82,
1,san jeronimo,PE,50.00,light rain,-13.65,-73.37,
2,bambous virieux,MU,81.00,shower rain,-20.34,57.76,
3,atuona,PF,80.35,clear sky,-9.80,-139.03,
4,hobart,AU,69.80,scattered clouds,-42.88,147.33,
5,vaini,IN,75.20,scattered clouds,15.34,74.49,
6,victoria,BN,86.00,broken clouds,5.28,115.24,
7,albany,US,35.01,light intensity drizzle,42.65,-73.75,
8,petropavlovsk-kamchatskiy,RU,12.20,broken clouds,53.05,158.65,
9,punta arenas,CL,42.80,overcast clouds,-53.16,-70.91,

In [26]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json?'
     # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotels = requests.get(base_url, params=params).json()
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
hotel_df.head()

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,kalmunai,LK,81.27,overcast clouds,7.42,81.82,VS Villa
1,san jeronimo,PE,50.00,light rain,-13.65,-73.37,La Mansion Casa Hotel
2,bambous virieux,MU,81.00,shower rain,-20.34,57.76,Casa Tia Villa
3,atuona,PF,80.35,clear sky,-9.80,-139.03,Villa Enata
4,hobart,AU,69.80,scattered clouds,-42.88,147.33,St Ives Hobart Accommodation Tasmania

In [28]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,kalmunai,LK,81.27,overcast clouds,7.42,81.82,VS Villa
1,san jeronimo,PE,50.00,light rain,-13.65,-73.37,La Mansion Casa Hotel
2,bambous virieux,MU,81.00,shower rain,-20.34,57.76,Casa Tia Villa
3,atuona,PF,80.35,clear sky,-9.80,-139.03,Villa Enata
4,hobart,AU,69.80,scattered clouds,-42.88,147.33,St Ives Hobart Accommodation Tasmania

In [30]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [34]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd> {Current Description} {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [37]:
# 11a. Add a marker layer for each city to the map. 
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig
# 11b. Display the figure

NameError: name 'heat_layer' is not defined